body{
    background-color:#F5A9BC/*#E0ECF8#81BEF7*/;
    font-family: helvetica;
    margin:5%;
  }
.sublists /*creating a new appearance,a class> classes can be used repeatedly*/
{
background-color:#F7819F;
width:50vh;
}
h1{
  text-align: center;
  color:#F34131
}

a{
background-color: #FE9A2E;
font-family: verdana;
color:#FF0000;
text-decoration:none;
padding:13px;
border-radius: 32px;
border:3px outset #FE642E;

}
a:hover{
background-color: #FE642E;
transition:.5s;

}
.par{
  display:flex;
  width:100%;
  height:auto;
  justify-content: center;
  flex-wrap: wrap;
}

.chil{
  flex:0 1 auto;
  width:300px;
  margin:30px 10px;

}
.chi{
  flex: 0 1 auto;
  width:auto;
  margin: 0px 50px; /*top& bottm, then left and right*/


}
.gr /*This is an id and can be used once*/{
  color:#3ADF00;
  font-weight: bold;
}
